
.App {
  background-image: linear-gradient(
    90deg,
    #f8f9fa 0%,
    #b8b8b8 7.4%,
    
    #077000 7.4%,
    #077000 7.7%,

    #b8b8b8 7.7%,
    #b8b8b8 8.3%,
    #000000 8.3%,
    #000000 9%,


    #0a8b01 9%,
    #0c9c02 10.6%,
    #000000 10.6%,
    #000000 10.8%,
    #0c9c02 10.8%,
    #0cb600 11.9%,
    #000000 11.9%,
    #000000 12.5%,
    #0cb600 12.5%,
    #0cb600 14%,
    #000000 14%,
    #000000 14.1%,
    #0cb600 14.1%,
    #0cb600 17.2%,
    #000000 17.2%,
    #000000 17.5%,

    #0cb600 17.5%,
    #0cb600 19.5%,
    #000000 19.5%,
    #000000 20%,
    #0cb600 20%,
    #0cb600 22.2%,
    #000000 22.2%,
    #000000 22.4%,



    #0cb600 22.4%,
    #0cb600 23%,
    #000000 23%,
    #000000 23.1%,
    #0cb600 23.1%,

    #f8f9fa 50%,
    #0cb600 76.7%,


    #000000 76.7%,
    #000000 76.8%,

    #0cb600 76.8%,
    #0cb600 77%,

    #000000 77%,
    #000000 77.3%,
    #0cb600 77.3%,
    #0cb600 79%,
    #000000 79%,
    #000000 79.1%,
    #0cb600 79.1%,
    #0cb600 81%,

    #000000 81%,
    #000000 81.4%,
    #0cb600 81.4%,
    #0cb600 82.7%,
    #000000 82.7%,
    #000000 83%,

    #0cb600 83%,
    #0cb600 86%,

    #000000 86%,
    #000000 86.2%,
    #0cb600 86.2%,
    #0ca801 87%,
  
  
    #000000 87%,
    #000000 87.4%,
    #0ca801 87.4%,
    #0ca801 89.1%,


    #000000 89.1%,
    #000000 89.4%,
    #0ca801 89.4%,

    #0a8b01 91%,



    #000000 91%,
    #000000 91.7%,
    #b8b8b8 91.7%,
    #b8b8b8 92.3%,
    #077000 92.3%,
    #077000 92.6%,
    #b8b8b8 92.4%,

    #f8f9fa 100%
  );
  background-size: 100%;
  height: 100vh;
  /* overflow: hidden; */
}
.nav-item {
  transition: background 0.3s ease;
  transition-timing-function: ease-in;
  background: linear-gradient(90deg, #f8f9fa 50%, rgb(255, 111, 0) 50%);
  background-size: 200% 100%;
  border-left: 0.3px solid #72ab73;
}

.nav-item:hover {
  transition-timing-function: ease-out;
  transition: background 0.2s ease-out;
  background: #0cb600;
  background-position: -100% 0;
}

.nav-item:active {
  background-color: #1fffff;
  text-decoration: solid;
}
